.header {
	width: 100%;
	position: fixed;
	padding: rem(30) rem(20);
	border-bottom: 1px solid darken(white, 10%);
	z-index: 5;
	top: 0;
	background: white;

	@include media($media__m) {
		padding: rem(40);
		margin: 0;
		background: none;
		position: absolute;
		border-bottom: none;
	};

	&__container {
		width: 100%;
		height: 100%;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		@include media($media__m) {
			display: block;
		};
	}
	
	#logo {
		width: 30px;
		height: 30px;
		position: absolute;
		left: 0;
		top: rem(-5);

		@include media($media__m) {
			margin: rem(20);
			top: 0;
		};

		svg {
			#Symbol {  }
			#Logo { 
				display: none;
				@include media($media__m) {
					display: block;
				};
			}

			@include media($media__m) {
				display: block;
			};
		}

		@include media($media__m) {
			width: 165px;
			height: 32px;
			margin: 0;
		};
	}

	.action-title {
		width: 100%;
		text-align: left;
		padding-left: rem(50);

		@include media($media__m) {
			text-align: center;
			padding-left: 0;
		};
		
		h2 {
			font-size: rem(18);
			letter-spacing: rem(-1);
			font-family: $font__avenirregular;

			@include media($media__m) {
				font-size: rem(28);
				font-family: $font__avenirmedium;
			};
		}
	}

	.mobile-menu-icon {
		width: 24px;
		position: absolute;
		top: 2px;
		right: 5px;

		span {
			font-size: rem(14);
		}

		@include media($media__m) {
			display: none;
		};
	}

	.mobile-close-menu-icon {
		position: absolute;
		top: -4px;
		right: 5px;
		display: none;

		span {
			font-size: rem(25);
			color: white;
		}
	}

	&.black {
		background: none;
		border-bottom: none;
		z-index: 11;

		#logo {
			top: -5px;
			left: 0;

			svg {
				display: block;
				#Symbol { 
					display: block; 
					path {
						fill: white !important;
					}
				}
				#Logo { display: none; }
			}
		}

		.action-title {
			color: white;
		}
	}

	&.on-builder {
		background: none;

		.action-title {
			opacity: 0 !important;

			@include media($media__m){
				opacity: 1 !important;
			};
		}
	}

}

.mobile-nav {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0; left: 0;
	background: black;
	z-index: 10;
	display: none;

	&__container {
		width: 100%;
		height: 100%;
		position: relative;

		ul {
			li {
				width: 100%;
				border-bottom: 1px solid darken(white, 85%);

				a {
					width: 100%;
					font-size: rem(18);
					color: white;
					padding: rem(40) rem(20);
					display: block;
				}
			}
		}
	}

	&.active {
		display: block;
	}

}




