.cap-view {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0; left: 0;

	&__container {
		width: 100%;
		height: 100%;
		position: relative;

		.view {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0; left: 0;
			background: white;
			display: none;


			// DEMO
			.demo-text {
				width: 160px;
				height: 170px;
				position: absolute;
				top: 50%; left: 50%;
				margin-top: -130px;
				margin-left: -(160px/2);
				z-index: 1;
				cursor: pointer;

				&.editing {
					border: 1px dashed white;
				}

				p {
					font-size: rem(220);
					font-family: 'Adelle';
					color: $color__red;
				}
			}


			.image {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0; left: 0;
				// transform: scale(0.6);
				background-size: contain !important;

				@include media($media__m) {
					width: 700px;
					height: 700px;
					top: 50%; left: 50%;
					margin-left: -350px;
					margin-top: -350px;
					transform: none;
				};
			}

			&.active {
				display: block;
			}
		}

	}
}