.footer {
	width: 100%;
	position: absolute;
	padding: rem(40);
	bottom: 0;

	@include media(max-height 700px and $media__l) {
		padding: rem(10);
	};

	&__container {
		position: relative;
		display: flex;
		justify-content: center;

		>div {
			width: auto;
			position: relative;
			display: flex;
			align-items: center;

			@include media($media__l) {
				width: calc(100%);
			};
		}
	}

	.left {
		justify-content: flex-start;

		> a {
			margin-left: rem(25);
		}
	}

	.center {
		justify-content: center;
		margin-left: rem(50);

		@include media($media__l) {
			margin-left: 0;
		};
	}

	.right {
		justify-content: flex-end;
		display: none;

		@include media($media__l) {
			display: flex;
		};

		> a {
			margin-right: rem(25);
		}
	}
}