.mobile-elements {
	// position: absolute;
	// display: block;

	@include media($media__m) {
		display: none;
	};

	.mob-btn-change-view, .mob-add {
		border-color: rgba(0, 0, 0, 0.3);
		position: relative;
		z-index: 6;
	}

	.mob-btn-change-view {
		top: 96px;
		right: 22px;
		position: absolute;

		span {
			padding-left: rem(15);
			opacity: 0.4;
		}
	}

	.mob-add {
		top: 96px;
		left: 20px;
		position: absolute;
	}

	.mob-tap-text {
		width: 100%;
		opacity: 0.3;
		position: absolute;
		bottom: rem(120);
		color: black;
		z-index: 6;
		font-family: $font__avenirmedium;
		font-size: rem(14);
		letter-spacing: -0.5px;
		text-align: center;
	}

	.mob-panel {
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0; left: 0;
		z-index: 999;
		background: black;
		color: white;
		font-size: rem(18);
		display: none;

		.top {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: rem(40);

			p {
				font-family: $font__avenirbold;
			}
			.icon-cross {
				font-size: rem(25);
			}
		}
		
		ul {
			width: 100%;
			height: calc(100% - 80px);
			overflow: auto;

			li {
				width: 100%;
				border-top: 1px solid darken(white, 85%);

				&:last-child {
					border-bottom: 1px solid darken(white, 85%);
				}

				a {
					padding: rem(40);
					font-size: rem(18);
					color: white;
					display: block;
				}
			}
		}

		&.active {
			display: block;
		}

		.controls {
			width: 100%;
			height: 120px;
			position: absolute;
			bottom: 0;
			left: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			
			.button__main {
				margin-left: 40px;
			}

			.button__smallgray {
				width: auto;
			}

		}

	}

}

.mob-my-logo {

	.title {
		width: 100%;
		font-family: $font__avenirmedium;
		font-size: rem(18);
		text-align: center;
		padding: rem(40) 0;
		position: absolute;
		top: 0;
		left: 0;
	}

	> div {
		display: none;
		&.active {
			display: flex;
		}
	}

	.upload {
		width: 100%;
		height: 100%;
		justify-content: center;
		align-items: center;

		.uploader-area {
			width: 80%;
			border-radius: 8px;
			border: 1px dashed rgba(255, 255, 255, 0.5);
			padding: rem(35) rem(20);

			form {
				width: 100%;
				height: 100%;
				position: relative;

				p {
					width: 100%;
					font-family: $font__avenirmedium;
					font-size: rem(32);
					line-height: rem(44);
					letter-spacing: rem(-0.4);
					text-align: center;
				}

				input[type="file"] {
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0; left: 0;
					z-index: 1;
					opacity: 0;
				}
			}
		}
	}

	.uploading-progress {
		width: 100%;
		height: 100%;
		justify-content: center;
		align-items: center;

		.progress {
			width: 100%;
			font-family: $font__avenirmedium;
			font-size: rem(98);
			text-align: center;
			letter-spacing: -1px;
		}
	}

	.uploaded {
		width: 100%;
		height: 100%;
		justify-content: center;
		align-items: center;

		.logo-uploaded {
			width: 80%;
			padding: rem(95) rem(30);
			background: url(../images/ui/transparent-pat.png);
			border-radius: 4px;
			display: flex;
			justify-content: center;
			align-items: center;

			img {
				max-width: 100%;
				min-width: auto;
				height: auto;
			}
		}
	}

}


.mob-team-letter,
.mob-custom-text {

	.type-text,
	.choose-font {
		.title {
			font-size: rem(18);
			font-family: $font__avenirmedium;
			text-align: center;
			opacity: 0.6;
			padding: rem(20) 0;
		}
	}

	.type-text {
		width: 100%;
		margin-top: rem(10);

		input {
			width: 85%;
			border-radius: 12px;
			border: 1px dashed rgba(255, 255, 255, 0.5);
			margin: 0 auto;
			display: block;
			text-align: center;

			&.team-letter {
				padding: rem(10) 0;
				font-size: rem(52);
				text-transform: uppercase;

				@include media($media__s) {
					font-size: rem(72);
				};
			}
			&.custom-text {
				font-size: rem(22);
				padding: rem(35) 0;
			}
		}
	}

	.choose-font {
		width: 100%;

		.selected-font {
			width: 85%;
			border-radius: 12px;
			border: 1px dashed rgba(255, 255, 255, 0.5);
			margin: 0 auto;
			padding: rem(30) rem(20);
			display: flex;
			position: relative;

			@include media($media__s) {
				padding: rem(40) rem(20);
			}
			
			p {
				width: 100%;
				font-size: rem(25);
			}

			.arrow {
				width: 0;
			    height: 0;
			    border-top: 6px solid #666666;
			    border-left: 6px solid transparent;
			    border-right: 6px solid transparent;
			    position: absolute;
			    top: 50%;
			    right: 30px;
			    margin-top: -2.5px;
			}
		}
	}

	.color-pickers {
		width: 100%;
		display: flex;
		margin-top: rem(20);

		@include media($media__s) {
			margin-top: rem(40);
		}

		.color {
			width: calc(100%);

			.title {
				width: 100%;
				text-align: center;
				margin-bottom: rem(15);
			}

			.color-button {
				width: 100px;
				height: 100px;
				background: white;
				border-radius: 100%;
				display: block;
				margin: 0 auto;
			}
		}
	}

}

.mob-clipart {
	overflow: auto;
	
	.title {
		font-size: rem(18);
		font-family: $font__avenirmedium;
		text-align: center;
		opacity: 0.6;
		padding: rem(20) 0;
	}

	.choose-category {
		width: 100%;

		.selected-font {
			width: 85%;
			border-radius: 12px;
			border: 1px dashed rgba(255, 255, 255, 0.5);
			margin: 0 auto;
			padding: rem(30) rem(20);
			display: flex;
			position: relative;

			@include media($media__s) {
				padding: rem(40) rem(20);
			}
			
			p {
				width: 100%;
				font-size: rem(25);
			}

			.arrow {
				width: 0;
			    height: 0;
			    border-top: 6px solid #666666;
			    border-left: 6px solid transparent;
			    border-right: 6px solid transparent;
			    position: absolute;
			    top: 50%;
			    right: 30px;
			    margin-top: -2.5px;
			}
		}
	}

	ul {
		width: 100%;
		height: auto !important;
		display: flex;
		flex-wrap: wrap;
		padding-top: rem(20);

		li {
			width: calc(50%) !important;
			height: 145px;
			border: none !important;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

}

.mob-clipart-settings {

	.title {
		font-size: rem(18);
		font-family: $font__avenirmedium;
		text-align: center;
		opacity: 0.6;
		padding: rem(20) 0;
	}

	.color-pickers {
		width: 100%;
		display: flex;
		flex-wrap: wrap;

		@include media($media__s) {
			margin-top: rem(40);
		}

		.color {
			width: calc(50%);

			.title {
				width: 100%;
				text-align: center;
				margin-bottom: rem(15);
			}

			.color-button {
				width: 100px;
				height: 100px;
				background: white;
				border-radius: 100%;
				display: block;
				margin: 0 auto;
			}
		}
	}

}



