#style-panel {
	height: 100%;
	position: absolute;
	z-index: 1;
	left: 0;
	display: none;

	@include media($media__m) {
		display: block;
	};

	@include media(max-height 700px) {
		transform: scale(0.8);
	};

	.panel {
		width: rem(112);
		height: rem(340);
		position: absolute;
		top: 50%;
		left: rem(40);
		margin-top: rem(-190);

		.panel-title {
			text-transform: uppercase;
			width: 100%;
			text-align: center;
			font-size: rem(14);
			font-family: $font__avenirmedium;
			padding-bottom: rem(10);
		}

		&__container {
			width: 100%;
			height: 100%;
			background: $color__black;
			border-radius: 4px;
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;

			.panel-item {
				width: 80%;
				height: calc(100%);
				display: flex;
				justify-content: center;
				align-items: center;
				border-bottom: 1px solid darken(white, 80%);
				cursor: pointer;
				position: relative;

				&:after {
					content: "";
					width: 0;
					height: 0;
					border-left: 20px solid black;
					border-top: 20px solid transparent;
					border-bottom: 20px solid transparent;
					position: absolute;
					top: 38px;
					right: 0px;
				}

				&__svg {
					opacity: 0.5;
					position: relative;
					z-index: 1;
				}

				.qnt {
					font: rem(14) $font__avenirbold;
					color: white;
					position: absolute;
					top: 12px; right: 5px;
				}

				&:hover {
					.panel-item__svg {
						opacity: 1;
					}
				}

				&.active {
					.panel-item__svg {
						opacity: 1;
					}
					&:after {
						right: -20px;
					}
				}

			}

		}
	}


	.panel-item-settings {
		width: rem(225);
		background: $color__black;
		border-radius: 4px;
		box-shadow: 0 2px 4px 0 black;
		position: absolute;
		top: 50%; left: rem(170);
		z-index: 10;
		overflow: hidden;

		&__container {
			width: 100%;
			height: 100%;
			position: relative;
		}
	}

	#your-logo-settings {
		height: rem(280);
		margin-top: rem(-250);
		display: none;

		.dropfile-zone {
			width: 100%;
			box-sizing: border-box;
			padding: rem(10);

			&__container {
				width: 100%;
				height: 100%;
				position: relative;
				border: 1px dashed $color__black--lighter;
				border-radius: 4px;
				padding: rem(25) 0;

				form {
					width: 100%;
					height: 100%;
					position: relative;

					input[type="file"] {
						position: absolute;
						opacity: 0;
					}

					.add-file-message {
						width: 100%;
						height: 100%;
						display: flex;
						align-items: center;
						flex-direction: column;
					}

					.dz-default,.dz-message, .dz-preview {
						display: none;
					}

				}

				p,span {
					color: white;
					text-align: center;
					font-family: $font__avenirmedium;
				}

				p {
					width: 85%;
					font-size: rem(18);
					line-height: rem(25);
				}

				span {
					font-size: rem(12);
					opacity: 0.5;
					margin-top: rem(20);
				}
			}
			button {
				margin-top: rem(20);
			}
		}

		.uploading-status {
			width: 100%;
			height: 100%;
			position: relative;
			display: none;

			.status {
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				flex-direction: column;
				position: relative;
				z-index: 1;

				h2, p {
					width: 100%;
					color: white;
					text-align: center;
				}

				h2 {
					font-family: $font__avenirregular;
					font-size: rem(62);
					letter-spacing: rem(-2);
				}
				p {
					font-size: rem(20);
					font-family: $font__avenirmedium;
					opacity: 0.5;
					margin-top: rem(10);
				}
			}
			.status-bar {
				width: 58%;
				height: 100%;
				position: absolute;
				top: 0; left: 0;
				background: darken(white, 85%);
			}
		}


		.processing-status {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			display: none;

			p {
				width: 100%;
				text-align: center;
				font-size: rem(22);
				font-family: $font__avenirmedium;
				color: white;
			}
		}

		.error-status {
			width: 100%;
			height: 100%;
			display: none;
			align-items: center;
			flex-direction: column;
			justify-content: center;
			background: $color__red;

			&.active  { display: flex; }

			p {
				width: 80%;
				text-align: center;
				font-size: rem(22);
				font-family: $font__avenirmedium;
				color: white;
				line-height: rem(28);
			}

			button {
				margin-top: rem(20);
				color: rgba(255, 255, 255, 0.8);
			}
		}

		.uploaded-area {
			width: 100%;
			height: 100%;
			display: none;

			&__container {
				width: 100%;
				height: 80%;
				position: relative;
				box-sizing: border-box;
				padding: rem(15);

				.image {
					width: 100%;
					height: 100%;
					border-radius: 4px;
					background: url(../images/ui/transparent-pat.png);
					display: flex;
					justify-content: center;
					align-items: center;

					img {
						width: 90%;
						height: auto;
					}

				}
				button {
					margin-top: rem(25);
				}
			}
		}


	}
	

	#text-insert {
		height: rem(182);
		margin-top: -(182px / 2);
		display: none;

		.choose-text-style {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;

			p {
				width: 100%;
				font-size: rem(18);
				color: white;
				opacity: 0.5;
				text-align: center;
			}
			ul {
				width: 100%;
				margin-top: rem(15);

				li {
					width: 100%;
					text-align: center;

					a {
						font-size: rem(22);
						line-height: rem(35);
						letter-spacing: rem(-1);
						color: white;
						text-align: center;

						&:hover {
							color: $color__red;
						}
					}
				}
			}
		}

	}

	
	#text-settings {
		margin-top: rem(-280);
		display: none;

		.font-style {
			width: 100%;
			position: relative;

			.text-title {
				width: 100%;
				padding: rem(30) 0;
				background: $color__red;

				p {
					width: 100%;
					color: white;
					font-family: $font__avenirregular;
					text-align: center;
				}
			}

			.font-face {
				margin-top: rem(15);

				.settings-title {}
				.selected-fontface {
					width: 100%;
					background: $color__black--light;
					padding: rem(22) 0;
					position: relative;
					cursor: pointer;

					p {
						font-size: rem(16);
						font-family: $font__avenirmedium;
						color: white;
						padding-left: rem(18);
					}

					.arrow {
						width: 0;
						height: 0;
						border-top: 5px solid $color__black--lighter;
						border-left: 5px solid transparent;
						border-right: 5px solid transparent;
						position: absolute;
						top: 50%; 
						right: 20px;
						margin-top: -2.5px;
					}

					&:hover {
						background: darken(white, 85%);

						.arrow {
							border-top-color: white;
						}
					}
				}
			}

			.font-size {
				margin-top: rem(30);

				.input-container {
					width: 100%;
					position: relative;

					input {
						width: 100%;
						background: transparent;
						font-size: rem(62);
						font-family: $font__avenirregular;
						text-align: center;
						border: none;
						color: white;
						letter-spacing: -3px;
					}

					.plus-button,
					.minus-button {
						width: 24px;
						height: 24px;
						position: absolute;
						top: 50%;
						margin-top: -(24px/2);
						cursor: pointer;
						opacity: 0.5;

						&:hover {
							opacity: 1;
						}
					}

					.plus-button {
						right: rem(30);
					}

					.minus-button {
						left: rem(30);
					}
				}
			}

			.font-colors {
				width: 100%;

				.row {
					width: 100%;
					display: flex;
					justify-content: center;
					padding: rem(25) 0;
				}

				.color {
					padding: 0 rem(15);
					display: flex;
					flex-direction: column;
					justify-content: center;

					.settings-title {}
					.color-picker-handler {
						width: rem(50);
						height: rem(50);
						background: white;
						border-radius: 100%;
						margin: 0 auto;
						cursor: pointer;
						text-indent: -9999px;
						border: none;
					}
				}
			}

			button {
				padding: rem(25) 0;
			}

		}

		.choose-font {
			width: 100%;
			position: relative;
			display: none;
			
			.settings-title {
				padding: rem(22) 0;
			}

			ul {
				width: 100%;
				height: 80%;
				position: relative;

				li {
					width: 100%;
					cursor: pointer;
					border-top: 1px solid $color__black--light;

					p, a {
						width: 100%;
						font-size: rem(18);
						font-family: $font__avenirmedium;
						color: white;
						padding: rem(22) 0;
						text-align: center;
					}

					&:hover {
						background: $color__red;
					}

					&:last-child {
						border-bottom: 1px solid $color__black--light;
					}
				}
			}

			button {
				padding: rem(28) 0;
			}
		
		}

		&.choose-font-active {
			margin-top: rem(-220);
		}


	}

	#clipart-insert {
		margin-top: rem(-190);
		display: none;

		.filter {
			//margin-top: rem(15);

			.settings-title {
				background: lighten($color__black--lighter, 1%);
				padding: rem(20) 0;
			}

			.selected-filter {
				width: 100%;
				background: lighten($color__black--light, 5%);
				padding: rem(22) 0;
				position: relative;
				cursor: pointer;

				p {
					font-size: rem(16);
					font-family: $font__avenirmedium;
					color: white;
					padding-left: rem(18);
				}

				.arrow {
					width: 0;
					height: 0;
					border-top: 5px solid $color__black--lighter;
					border-left: 5px solid transparent;
					border-right: 5px solid transparent;
					position: absolute;
					top: 50%; 
					right: 20px;
					margin-top: -2.5px;
				}

				&:hover {
					background: darken(white, 85%);

					.arrow {
						border-top-color: white;
					}
				}
			}
		}
		.cliparts-list {
			width: 100%;
			height: 250px;
			position: relative;
			overflow: auto;

			.swiper-container {
				width: 100%;
				height: 100%;

				.swiper-wrapper {
					width: 100%;
					height: 100%;
					
					.swiper-slide {
					}
				}
			}

			ul {
				width: 100%;
				display: flex;
				flex-wrap: wrap;

				&:hover {
					li { opacity: 0.4; }
				}

				li {
					width: calc(50%);
					height: 100px;
					display: flex;
					align-items: center;
					justify-content: center;
					cursor: pointer;

					&:hover {
						opacity: 1;
						// svg {
						// 	g, polygon, path { fill: $color__red; }
						// }
					}

					svg {
						g, polygon, path {
							fill: #fff;
						}
					}
				}
			}
		}
	}


	#clipart-filter {
		margin-top: rem(-240);
		display: none;

		.select-filter {

			.settings-title {
				background: lighten($color__black--lighter, 1%);
				padding: rem(20) 0;
			}
			
			ul {
				width: 100%;

				li {
					width: 100%;
					display: flex;
					padding: rem(22) 0;
					position: relative;
					cursor: pointer;

					p {
						font-size: rem(16);
						font-family: $font__avenirmedium;
						color: white;
						padding-left: rem(18);
					}

					&.selected {
						background: lighten($color__black--light, 5%);

						&:after {
							content: "2";
							font-family: "icomoon";
							font-size: rem(14);
							color: white;
							position: absolute;
							top: 50%; right: 20px;
							margin-top: -8px;
							opacity: 0.5;
						}
					}

					&:hover {
						p {
							opacity: 0.5;
						}
					}
				}
			}

			button {
				padding: rem(22) 0;
			}

		}
	}


	#clipart-settings {
		margin-top: rem(-185);
		display: none;

		.colors {

			> .settings-title {
				padding-top: rem(22);
				opacity: 1;
			}

			.clipart-colors {
				width: 100%;

				.row {
					width: 100%;
					display: flex;
					justify-content: center;
					padding: rem(14) 0;
				}

				.color {
					padding: 0 rem(15);

					.settings-title {}
					.color-picker-handler {
						width: rem(50);
						height: rem(50);
						background: white;
						border-radius: 100%;
						margin: 0 auto;
						cursor: pointer;
					}
				}
			}

			button {
				padding: rem(22) 0;
			}
		}
	}


}

