#views-panel {
	height: 100%;
	position: absolute;
	z-index: 1;
	right: 0;
	display: none;

	@include media($media__m) {
		display: block;
	};

	@include media(max-height 700px) {
		transform: scale(0.8);
	};

	.panel {
		width: rem(112);
		height: rem(482);
		position: absolute;
		top: 50%;
		right: rem(40);
		margin-top: rem(-482/2);

		.panel-title {
			text-transform: uppercase;
			width: 100%;
			text-align: center;
			font-size: rem(14);
			font-family: $font__avenirmedium;
			padding-bottom: rem(10);
		}

		.panel-container {
			width: 100%;

			.view {
				width: rem(110);
				height: rem(110);
				position: relative;
				border-radius: 4px;
				background: #EBEBEB;
				margin-bottom: rem(5);
				opacity: 0.3;
				cursor: pointer;

				.image {
					width: 100%;
					height: 100%;
					position: relative;
					display: flex;
					justify-content: center;
					align-items: center;

					img {
						width: 70%;
						height: auto;
					}
				}

				&.selected {
					opacity: 1;

					&:after {
						content: "";
						width: rem(8);
						height: rem(8);
						background: $color__black;
						border-radius: 100%;
						position: absolute;
						top: 10px; right: 10px;
					}
				}

				&:hover {
					opacity: 1;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

}