button {
	background: 'transparent';
	border: none;
	cursor: pointer;
	position: relative;
	
	&:active {
		top: 1px;
	}

	strong {
		font-weight: bold;
		font-family: $font__avenirmedium;
	}
}

.button__clean {
	background: transparent;
}

.button__main {
	background: $color__black;
	font-size: rem(16);
	font-family: $font__avenirmedium;
	color: white;
	border-radius: rem(100);
	padding: rem(10) rem(25);
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;

	@include media($media__s) {
		font-size: rem(20);
	}	

	@include media($media__xl) {
		display: flex;
	};

	span {
		font-size: rem(14);
		padding-left: rem(40);
	}
	
	@include media($media__l) {
		&:hover {
			background: $color__red;
		}
	}

	&:active {
		transform: translateY(2px);
		@include media($media__l) {
			transform: none;
		};
	}

	&.white {
		background: white;
		color: black;
		
		@include media($media__l) {
			&:hover {
				background: $color__red;
				color: white;
			}
		}
	}

	&.red {
		background: $color__red;
		color: white;
		
		@include media($media__l) {
			&:hover {
				background: darken($color__red, 10%);
				color: white;
			}
		}
	}

	&.outline-black {
		background: transparent;
		border: 1px solid black;
		color: black;

		@include media($media__l) {
			&:hover {
				background: black;
				color: white;
				transform: translateY(0);
			}
		};

	}

	&.outline-white {
		background: transparent;
		border: 1px solid white;
		color: white;

		@include media($media__l) {
			&:hover {
				background: white;
				color: black;
				transform: translateY(0);
			}
		};

	}
	
}

.button__outline {
	width: 100%;
	padding: rem(10) 0;
	background: transparent;
	border: 1px solid white;
	border-radius: rem(100);
	font-family: $font__avenirmedium;
	font-size: rem(22);
	color: white;

	&:hover {
		background: white;
		color: $color__black;
	}
}

.button__smallgray {
	width: 100%;
	background: transparent;
	font-size: rem(14	);
	font-family: $font__avenirmedium;
	color: darken(white, 40%);

	&:hover {
		color: white;
	}
}