input {
	width: 100%;
	background: transparent;
	border: none;
	font-family: $font__avenirregular;
	text-align: center;
	color: white;

	@include placeholder {
		color: rgba(255, 255, 255, 0.2);
	};

	&:focus {
		@include placeholder {
			color: rgba(255, 255, 255, 0.4);
		};
	}
}

.input__big {
	width: 50%;
	border: 2px solid rgba(255, 255, 255, 0.2);
	border-radius: 100px;
	//margin-top: rem(40);

	input {
		width: 100%;
		font-size: rem(22);
		font-family: $font__avenirregular;
		padding: rem(20) 0;

		@include media($media__l) {
			font-size: rem(54);
			letter-spacing: -2px;
		};
	}

	&.small-font {
		input {
			font-size: rem(22);

			@include media($media__l) {
				font-size: rem(48);
			};
		}
	}

}

.input__small {
	width: 100%;
	border-bottom: 1px solid rgba(white, 0.2);

	@include media($media__s) {
		border-radius: 100px;
		border: 1px solid white;
	};

	input {
		width: 100%;
		font-size: rem(18);
		padding: rem(5) 0;
		font-family: $font__avenirmedium;

		@include media($media__s) {
			font-size: rem(22);
			padding: rem(10) 0;
		}

	}
}


