.modal {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0; left: 0;
	background: white;
	padding: 0;
	z-index: 9999;
	display: none;

	@include media($media__l) {
		padding: rem(20);
	};
	
	@include media($media__xl) {
		padding: rem(30);
	};

	@include media(max-height 700px and $media__l) {
		padding: 0;
	};

	&__container {
		width: 100%;
		height: 100%;
		background: $color__black;
		position: relative;

		@include media($media__l) {
			border-radius: 12px;
		};

		@include media(max-height 700px and $media__l) {
			border-radius: 0;
		};

	}

	.top {
		width: 100%;
		height: 80px;
		position: relative;
		padding: rem(26) 0;

		.title {
			width: 100%;
			font-size: rem(18);
			font-family: $font__avenirmedium;
			color: white;
			padding-top: rem(5);
			padding-left: rem(30);

			@include media($media__l) {
				font-size: rem(28);
				letter-spacing: -1px;
				text-align: center;
				padding-top: 0;
				padding-left: 0;
			};
		}

		button {
			width: 45px;
			height: 45px;
			position: absolute;
			top: 18px; right: 20px;
			z-index: 1;
			
			span {
				color: white;
				font-size: rem(28);
			}

			&:hover {
				opacity: 0.8;
			}

			&:active {
				transform: translateY(1px);
			}
		}
	}

	.controls {
		width: 100%;
		position: absolute;
		bottom: 40px; 
		display: none;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&.active {
			display: flex;
		}

		button {
			margin-bottom: rem(20);
		}
	}

	&.confirmation-step {
		.modal__container {
			background: white;
			.top .title {
				color: black;
				text-align: center;
				padding-left: 0;
			}
		}
	}

}

#access-previous-design {

	.enter-code {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0; left: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		p {
			color: white;
			font-size: rem(22);
			font-family: $font__avenirmedium;
		}

		.input {
			margin-top: rem(40);
		}
	}

	.controls {
		display: flex;
	}

}


#save-design {

	&.confirmation-step {
		.final-design .design-code {
			color: black;
		}
	}

	.final-design {
		width: 100%;
		height: 100%;
		color: white;
		position: absolute;
		top: 0; left: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		
		@include transition(all 800ms $easing__easeOutExpo);
		* { @include transition(all 800ms $easing__easeOutExpo); }

		@include media(min-height 778px) {
			//justify-content: center;	
		}

		.final-picture {
			width: 335px;
			height: 335px;
			background: white;
			border-radius: 4px;
			position: absolute;
			top: rem(50);
			left: 50%;
			margin-left: rem(-335/2);
			z-index: 5;
			//margin: rem(90) 0 rem(30);
			overflow: hidden;
			transform: scale(0.8);

			
			@include media(max-height 700px and $media__l) {
				width: 200px;
				height: 200px;
				margin-left: rem(-200/2);
			}
			
			@include media($media__l) {
				transform: scale(1);
				top: rem(90);
			};

			.final-picture-gallery {
				width: 100%;
				height: 100%;
				position: relative;

				.view-name {
					font-size: rem(32);
					color: black;
					letter-spacing: -2px;
					font-family: $font__avenirmedium;
					position: absolute;
					top: 20px; 
					left: 20px;
					z-index: 2;
					opacity: 0;
				}

				.button-arrow-control {
					font-size: rem(18);
					color: black;
					position: absolute;
					top: 50%;
					margin-top: -10px;
					z-index: 2;
					opacity: 0;

					&.right {
						right: 10px;
					}
					&.left {
						left: 10px;
					}
				}

				.full-picture {
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0; left: 0;

					.swiper-container {
						width: 100%;
						height: 100%;

						.swiper-wrapper {
							width: 100%;
							height: 100%;

							.swiper-slide {
								width: 100%;
								height: 100%;
								background-size: 180%;
							}
						}
					}

					.image {
						width: 100%;
						height: 100%;
						background-size: 100% !important;
					}

				}

				.thumbnails {
					width: 100%;
					height: 115px;
					position: absolute;
					z-index: 1;
					bottom: 0;
					left: 0;
					opacity: 0;
					display: flex;
					justify-content: center;

					@include transform(translateY(250));

					.image {
						width: rem(110);
						height: rem(110);
						border-radius: 4px;
						border: 1px solid darken(white, 10%);
						background-size: 140% !important;
						cursor: pointer;
						margin-right: rem(10);
						background-color: white !important;

						&:last-child { margin-right: 0; }
						
						&:hover {
							border-color: darken(white, 35%);
						}

						&.active{
							box-shadow: 0 0px 6px -3px black;
							border-color: black;
						}
					}
				}

				&:hover {
					.button-arrow-control { opacity: 1; }
				}

			}

			.button-zoom {
				font-size: rem(22);
				background: transparent;
				position: absolute;
				bottom: 20px;
				right: 20px;
				z-index: 2;
				display: none;

				@include media($media__l) {
					display: block;
				};

				&:active {
					top: inherit;
					transform: translateY(1px);
				}

				&:hover {
					opacity: 0.4;
				}
			}

			.button-close {
				position: absolute;
				top: 20px;
				right: 20px;
				color: black;
				z-index: 2;
				background: transparent;
				display: none;

				span {
					color: black;
					font-size: rem(32);
				}
			}

			&.image-zoom {
				width: 100%;
				height: 100%;
				border-radius: 0;
				top: 0; left: 0;
				margin: 0;

				.button-arrow-control {
					font-size: rem(32);
					margin-top: -25px;
				}

				.final-picture-gallery {
					.view-name {
						opacity: 1;
					}
					.full-picture {
						.swiper-slide {
							background-size: 100% !important;
						}
					}
					.thumbnails {
						@include transform(translateY(250));
						@include transition-delay(1.5s);
						opacity: 1;
					}
				}

				.button-zoom {
					display: none;
				}
				.button-close {
					display: block;
				}
			}

		}
		
		.design-code {
			width: 100%;
			margin-top: rem(380);

			@include media($media__s) {
				//margin-top: rem(460);
			};

			@include media($media__l) {
				margin-top: rem(450);
			};

			@include media(max-height 700px and $media__l) {
				margin-top: rem(320);
			};


			p, h2 { 
				width: 100%;
				text-align: center;
			}

			p {
				font-size: rem(16);
				line-height: rem(22);

				@include media($media__s) {
					font-size: rem(22);
					line-height: rem(26);
				};

				span {
					font-family: $font__avenirbold;
					font-weight: bold;
					display: none;
				}

				strong {
					font-family: $font__avenirbold;
					font-weight: bold;
				}
			}

			h2 {
				font-family: $font__bebas;
				font-size: rem(70);
				margin-top: rem(15);
			}
		}

		&.small-design-code {
			.final-picture {
				width: 170px;
				height: 170px;
				margin-left: -(170px/2);

				.full-picture {
					width: 100%;
					height: 100%;

					.swiper-slide {
						width: 170px;
						height: 170px;
					}
				}

				button {
					display: none;
				}
			}
			
			.design-code {
				margin-top: rem(220);

				@include media($media__s) {
					margin-top: rem(290);
				};

				p { font-size: rem(14); }
				p span { display: inline-block; }
				h2 {
					display: none;
				}
			}

			&.hide-image {
				.final-picture {
					transform: translateY(-150px);
					opacity: 0;

					@include media($media__l) {
						transform: translateY(-50px);
					};
				}
			
				.design-code {
					transform: translateY(-130px);

					@include media($media__s) {
						transform: translateY(-220px);
					};

					@include media($media__s) {
						transform: translateY(-200px);
					}					

					@include media($media__l) {
						transform: translateY(-150px);
					};

					@include media(max-height 700px and $media__l) {
						transform: translateY(-200px);
					}
				}

			}

		}

	}

	.desired-quantity {
		width: 85%;
		position: absolute;
		top: 50%; left: 50%;
		margin-top: rem(40);
		margin-left: -(85%/2);
		display: none;
		opacity: 0;

		@include media($media__l) {
			width: 690px;
			height: 105px;
			margin-top: rem(-20);
			margin-left: rem(-690/2);
		};

		@include media(max-height 700px and $media__l) {
			margin-top: rem(20);
		}

		.input__big {
			width: 100%;
			height: 100%;
		}
	}

	.send-by-email {
		width: 85%;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: rem(-185/2);
		margin-left: -(85%/2);
		display: none;
		opacity: 0;

		@include media($media__l) {
			width: 690px;
			height: 170px;
			margin-top: rem(-170/2);
			margin-left: rem(-690/2);
		};

		p {
			color: white;
			font-size: rem(22);
			font-family: $font__avenirmedium;
			text-align: center;
			line-height: rem(28);

			@include media($media__l) {
				line-height: 0;
			};
		}

		.input__big {
			width: 100%;
			margin-top: rem(30);

			@include media($media__l) {
				height: 105px;
			};
		}
	}

	.send-form {
		width: 275px;
		position: relative;
		z-index: 1;
		position: absolute;
		top: 175px;
		left: 50%;
		margin-left: rem(-275/2);
		display: none;
		opacity: 0;

		@include media($media__l) {
			top: 190px;
		};

		@include media(max-height 700px and $media__l) {
			top: 140px;
		}

		.input__small {
			margin-bottom: rem(15);
		}

		.quantity-display {
			width: 100%;
			border-bottom: 1px solid rgba(white, 0.2);
			overflow: hidden;
			display: flex;
			justify-content: space-between;

			@include media($media__s) {
				border-radius: 100px;
				border: 1px solid white;
			}

			.label, .value { 
				color: white;
			}

			.label {
				font-size: rem(15);
				color: white;
				border-right: 1px solid rgba(white, 0.2);
				padding: rem(5) rem(20);

				@include media($media__s) {
					border-right: 1px solid white;
					padding: rem(15) rem(20);
				}
			}
			.value {
				flex: 0 1 auto;
				font-size: rem(18);
				font-family: $font__avenirmedium;
				padding: rem(5) rem(30);
				text-align: right;

				@include media($media__s) {
					font-size: rem(22);
					padding: rem(10) rem(30);
				}
			}
		}

	}


	.confirmation {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0; left: 0;
		flex-direction: column;
		justify-content: center;
		display: none;
		margin-top: rem(70);

		&.active {
			display: flex;
		}

		.message {
			font-size: rem(24);
			font-family: $font__avenirmedium;
			text-align: center;
			letter-spacing: -1px;
			width: 100%;
			padding: 0 10%;
			line-height: rem(32);

			@include media($media__l) {
				font-size: rem(36);
				line-height: rem(50);
			};

			@include media($media__xl) {
				font-size: rem(42);
				line-height: rem(58);
			};

		}
		.post-actions {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-top: rem(80);

			@include media($media__xl) {
				flex-direction: row;
				justify-content: center;
			};

			> button {
				width: 90%;
				margin: 0 0 rem(20);

				@include media($media__s) {
					width: 70%;
				};

				@include media($media__l) {
					width: 450px;
				};

				@include media($media__xl) {
					width: auto;
					margin-right: rem(15);
				};

				&:last-child {
					margin-right: 0;
				}

			}
		}
	}

}



