.products {
	width: 100%;
	background: darken(white, 5%);
	padding-top: 20%;
	padding-left: 0%;

	@include media($media__m) {
		position: absolute;
		top: 0; right: 0;
		padding-top: 15%;
		padding-left: 32%;
	};

	@include media($media__l) {
		padding-left: 21%;
	};

	@include media($media__xl + 1px) {
		padding-left: 22%;
	};

	@include media(max-height 700px and $media__m) {
		padding-top: 9%;
	};

	.row {
		width: 100%;
		margin-bottom: rem(20);

		@include media($media__m) {
			margin-bottom: rem(80);
		};

		&__title {
			font-size: rem(35);
			font-family: $font__bebas;
			border-bottom: none;
			letter-spacing: rem(-0.8);
			color: $color__red;
			display: block;
			padding: rem(20);
			text-align: center;
			width: 100%;

			@include media($media__m) {
				display: none;
			};
		}

		ul {
			width: 100%;
			position: relative;
			display: flex;
			flex-wrap: wrap;

			.product {
				width: calc(50% - 20px);
				height: 320px;
				border-radius: 4px;
				background: white;
				box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
				position: relative;
				cursor: pointer;
				margin-left: rem(10);
				margin-bottom: rem(10);

				&:nth-child(2n) {

				}

				@include media($media__s) {
					height: 380px;
				}

				@include media($media__m) {
					width: 222px;
					height: 315px;
					margin-right: rem(20);
					margin-bottom: rem(20);
				};

				@include media($media__l) {
					width: 230px;
				}

				@include media($media__xl) {
					width: calc(100% / 5);
				}

				@include transition(
					transform 400ms $easing__easeOutExpo,
					box-shadow 800ms $easing__easeOutExpo
				);

				// &:nth-child(4n) {
				// 	margin-right: 0;
				// }

				.image {
					width: 100%;
					height: 100%;
					display: flex;
					align-items: center;

					@include transition(transform 2000ms $easing__easeOutExpo);

					img {
						width: 100%;
						height: auto;
					}

				}
				.product-code {
					width: 100%;
					position: absolute;
					bottom: 30px;
					text-align: center;
					font-size: rem(14);
					font-family: $font__avenirbold;
					letter-spacing: -1px;

					@include transition(color 500ms $easing__easeOutExpo);
				}
	
				&:hover {
					box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
					transform: scale(1.02);

					.image {
						transform: scale(0.95);
					}

					.product-code {
						color: $color__red;
					}
				}

			}
		}
	}
}