.selected-product {
	width: 100%;
	height: 100vh;
	position: relative;
	display: none;

	&__container {
		width: 100%;
		height: 100%;
		position: relative;

		.product-name {
			width: 100%;
			font-family: $font__bebas;
			font-size: rem(28);
			position: absolute;
			top: 20%;
			text-align: center;
			z-index: 10;

			@include media($media__l) {
				width: auto;
				display: table;
				font-size: rem(35);
				top: 50%;
				margin-top: -15px;
				left: 5%;
				z-index: 2 !important;
				text-align: left;
			};

			span {
				color: $color__red;
			}
		}

		.product-picture {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;

			.image {
				width: 100%;
				height: 100%;
				background-size: 150% !important;

				@include media($media__l) {
					background-size: 100% !important;
				};	

			}
		}

		.color-selection {
			width: 100%;
			position: absolute;
			bottom: rem(40);
			
			@include media($media__l) {
				width: auto;
				height: 100%;
				bottom: inherit;
				top: 0;
				right: 0;
				left: inherit;
			};

			ul {
				width: 100%;
				height: 120px;
				display: flex;
				justify-content: center;
				padding: 0 rem(40);

				@include media($media__l) {
					width: 120px;
					height: 100%;
					position: relative;
					flex-direction: column;
					justify-content: center;
					padding: 0;
				};

				li {
					width: 40px;
					height: 40px;
					position: relative;
					cursor: pointer;
					display: flex;
					margin-right: rem(40);

					@include media($media__l) {
						width: 100%;
						height: 60px;
						margin-right: 0;
						margin-bottom: rem(20);
					};

					&:last-child {
						margin-right: 0;
					}

					.color {
						width: 40px;
						height: 40px;
						background: $color__black--lighter;
						border-radius: 100%;
						position: absolute;
						top: 0; left: 0;
						border: 1px solid white;

						&:nth-child(1) { top: 0; z-index: 1; }
						&:nth-child(2) { top: 20px; }
						&:nth-child(3) { top: 40px; }

						@include media($media__l) {
							width: 60px;
							height: 60px;
							
							&:nth-child(1) { left: 0; top: inherit; }
							&:nth-child(2) { left: 30px; top: inherit; }
							&:nth-child(3) { left: 60px; top: inherit; }
						};

						
						&:after {
							content: "2";
							width: 100%;
							height: 100%;
							font-family: 'icomoon';
							color: white;
							text-align: center;
							position: absolute;
							top: 0; left: 0;
							font-size: rem(18);
							line-height: rem(38);
							display: none;

							@include media($media__l) {
								font-size: rem(20);
								line-height: 56px;
							};
						}
					}

					&.selected {
						.color:after {
							display: block;
						}
						&:hover {
							.color:after {
								color: rgba(255, 255, 255, 1);
							}
						}
					}

					&:hover {
						.color {
							box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
							&:after {
								display: block;
								color: rgba(255, 255, 255, 0.2);
							}
						}
					}

					&:active {
						top: 1px;
					}
				}
			}
		}

		.controls {
			width: 100%;
			position: absolute;
			bottom: rem(30);
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: row-reverse;

			@include media($media__l) {
				bottom: rem(40);
				flex-direction: column;
				align-items: center;
			};

			button {
				margin-left: rem(30);

				@include media($media__l) {
					margin-bottom: rem(30);
					margin-left: 0;
				};
			}
		}

	}
}