.side-links {
	width: 180px;
	display: none;

	@include media($media__m) {
		display: flex;
		flex-direction: column;
		position: fixed;
		z-index: 1;
		bottom: 30px; left: 40px;
	};

	@include media(max-height 700px) {
		bottom: 15px;
	};

	a {
		width: auto;
		display: table;
		margin-bottom: rem(10);
	}
}