.side-nav {
	width: 180px;
	position: absolute;
	top: 220px;
	left: 40px;
	z-index: 1;
	display: none;

	@include media($media__m) {
		display: flex;
		flex-direction: column;
		justify-content: center;
	};

	@include media(max-height 700px) {
		top: 120px;
	};

	&.fixed {
		position: fixed;
		top: 40px;
		margin-top: 0;
	}

	ul {
		width: 100%;

		li {
			width: 100%;
			opacity: 0.3;
			margin-bottom: rem(5);

			@include transition(opacity 500ms $easing__easeOutExpo);

			a {
				font-size: rem(35);
				font-family: $font__bebas;
				border-bottom: none;
				letter-spacing: rem(-0.8);
			}
			
			&.active {
				opacity: 1;
				a {
					color: $color__red;
				}
			}

			&:hover {
				opacity: 1;
			}

		}
	}

	.search {
		width: 100%;
		margin-top: rem(20);

		> button {
			width: 40px;
			height: 40px;

			span {
				width: 100%;
				font-size: rem(22);
				text-align: center;
			}

			&:hover {
				span {
					color: $color__red;
				}
			}
		}

		.input {
			width: 100%;
			position: relative;
			display: none;

			input {
				width: 100%;
				background: transparent;
				border: none;
				border-bottom: 1px solid rgba(0, 0, 0, 0.2);
				font-family: $font__avenirmedium;
				font-size: rem(14);
				padding: rem(10) 0;
				position: absolute;
				top: 0; left: 0;
				color: black;
				text-align: left;

				@include placeholder() {
					color: rgba(0, 0, 0, 0.5);
				};
			}

			button {
				width: 30px;
				height: 30px;
				position: absolute;
				top: 0;
				right: 0;

				span {
					font-size: rem(18);
					color: black;
				}

				&:hover {
					opacity: 0.5;
				}
			}
		}

	}
}