// from:
// http://www.paulirish.com/2009/bulletproof-font-face-implementation-syntax/
//
// @font-face {
//   font-family: 'Graublau Web';
//   src: url('GraublauWeb.eot?') format('eot'),
//    url('GraublauWeb.woff') format('woff'),
//    url('GraublauWeb.ttf') format('truetype');
// }
//

@mixin font-face-structure($fontName, $fontSlug, $svgHash) {
  font-family: $fontName;
  src: url('../../../fonts/#{$fontSlug}.eot');
  src: url('../../../fonts/#{$fontSlug}.eot?#iefix') format('embedded-opentype'),
       url('../../../fonts/#{$fontSlug}.woff') format('woff'),
       url('../../../fonts/#{$fontSlug}.ttf') format('truetype'),
       url('../../../fonts/#{$fontSlug}.svg#{$svgHash}') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  @include font-face-structure("BebasNeue", "BebasNeue", "BebasNeue");
}

@font-face {
  @include font-face-structure("Adelle", "AdelleBasic-ExtraBold", "AdelleBasic-ExtraBold");
}


@font-face {
    font-family: 'icomoon';
    src:    url('../../../fonts/icomoon.eot?4mqtkw');
    src:    url('../../../fonts/icomoon.eot?4mqtkw#iefix') format('embedded-opentype'),
        url('../../../fonts/icomoon.ttf?4mqtkw') format('truetype'),
        url('../../../fonts/icomoon.woff?4mqtkw') format('woff'),
        url('../../../fonts/icomoon.svg?4mqtkw#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1.5;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-eye:before {
    content: "\39";
}
.icon-zoom-in:before {
    content: "\35";
}
.icon-cross:before {
    content: "\34";
}
.icon-menu-icon:before {
    content: "\38";
}
.icon-arrow-left:before {
    content: "\36";
}
.icon-arrow-right:before {
    content: "\37";
}
.icon-search:before {
    content: "\33";
}
.icon-check:before {
    content: "\32";
}
.icon-button-arrow:before {
    content: "\31";
}

