html {
	font-family: $font__avenirregular;
}

a {
	color: black;
	font-size: rem(14);
	font-family: $font__avenirmedium;
	text-decoration: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	position: relative;
	padding-bottom: rem(5);

	@include transition(color 500ms $easing__easeOutExpo);

	@include media($media__xl) {
		padding-bottom: 0;
	};

	&:hover {
		text-decoration: none;
		border-bottom-color: rgba(0, 0, 0, 0.4);
	}

	&:active {
		top: 1px;
	}

	&.white {
		color: white;
		border-bottom-color: rgba(255, 255, 255, 0.3);

		&:hover {
			border-bottom-color: rgba(255, 255, 255, 0.5);
		}
	}
}

.settings-title {
	width: 100%;
	text-align: center;
	font-size: rem(18);
	line-height: rem(25);
	font-family: $font__avenirmedium;
	color: white;
	opacity: 0.5;
	padding: rem(10) 0;
}


.font-adelle-basic {
	font-family: 'Adelle';
}