// Grid
$size__xs: 320px;
$size__s: 375px;
$size__m: 734px;
$size__l: 1024px;
$size__xl: 1280px;
$size__xxl:  1920px;
$size__xxxl: 2340px;
$size__4k: 3200px;

$media__xs: min-width $size__xs; // 320
$media__s: min-width $size__s; // 414
$media__m: min-width $size__m; // 768
$media__l: min-width $size__l; // 1024
$media__xl: min-width $size__xl; // 1280
$media__xxl: min-width $size__xxl; // 1920
$media__xxxl: min-width $size__xxxl; // 2560
$media__4k: min-width $size__4k; // 3200

$media__down__xs: max-width $size__s - 1; // 320
$media__down__s: max-width $size__m - 1; // 414
$media__down__m: max-width $size__l - 1; // 768
$media__down__l: max-width $size__xl - 1; // 1024
$media__down__xl: max-width $size__xxl - 1; // 1280
$media__down__xxl: max-width $size__xxxl - 1; // 1920
$media__down__xxxl: max-width $size__4k - 1; // 2560

$font__avenirthin: 'Avenir Next W01 Thin', sans-serif;
$font__avenirregular:'AvenirNextLTW01-Regular', sans-serif;
$font__avenirmedium:'AvenirNextLTW01-Medium', sans-serif;
$font__avenirbold:'Avenir Next LT W01 Bold', sans-serif;
$font__bebas: 'BebasNeue', sans-serif;

$color__black: #010202;
$color__black--light: #171717;
$color__black--lighter: #666666;
$color__red: #E02228;

$easing__easeOutExpo: cubic-bezier(0.190, 1.000, 0.220, 1.000);